 
div { 
    background-color: rgb(245,245,249); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: auto;
  }